In [19]:
# Import necessary libraries
import pandas as pd
import os
import platform
device_name = platform.node()

previous_folder = os.getcwd()
print ("This is the working folder: " + previous_folder)

if device_name == 'mmd-MS-7D98': 
    #This passage is done because everytime I log into the remote server the default folder is:
    #/mmd/home and I need to localize the correct folder to load the settings 
    os.chdir("/media/mmd/Samsung_T5/GitHub/UMD")

if previous_folder != os.getcwd(): # This is now the right working folder
    print("The current working folder has been changed, now the working folder is: " + os.getcwd())

This is the working folder: /media/mmd/Samsung_T5/GitHub/UMD

In [20]:
import os

In [21]:
import sys
sys.path.append("..")
sys.path.append("my_library")
from my_library.config import *
from my_library.metrics.cmp_metrics import *
sys.path.append("..")
import os

n_classes = 2

import os
#%run -i visualization/compute_metrics_single_run.ipynb

In [22]:
eval = "eval_max50slides"

In [23]:
base_folder = os.path.join(working_directory,"ALLeval/eval_max50slides/test-int")
subfolder = [name for name in os.listdir(base_folder) if os.path.isdir(os.path.join(base_folder, name))]

results = []
models = ["br3", "adsq", "pdl1-3", "pdl1-2"] 

for m in models:
    df = []
    print(m)
    root_dir = os.path.join(base_folder, m)

    %run -i ./metriche/from_parquet.ipynb

    #print(parent_directory)
    #compute_metrics(parent_directory, n_classes, parent_directory)
    results.append(df)

br3
This is the working folder: /media/mmd/Samsung_T5/GitHub/UMD
Queste sono le lablesdict_values(['0.0', '1.0', '2.0'])

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325261       1               0
1    DIG_PAT_1696325721       1               1
2    DIG_PAT_1696326112       0               1
3    DIG_PAT_1696326480       1               1
4    DIG_PAT_1696326773       1               1
..                  ...     ...             ...
118  DIG_PAT_1717056601       2               1
119  DIG_PAT_1725899959       0               1
120  DIG_PAT_1725900359       2               1
121  DIG_PAT_1725901598       1               1
122  DIG_PAT_1725901955       0               1

[123 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325261       1               0
1    DIG_PAT_1696325721       1               0
2    DIG_PAT_1696326112       0               2
3    DIG_PAT_1696326480       1               0
4    DIG_PAT_1696326773       1               0
..                  ...     ...             ...
118  DIG_PAT_1717056601       2               1
119  DIG_PAT_1725899959       0               0
120  DIG_PAT_1725900359       2               0
121  DIG_PAT_1725901598       1               0
122  DIG_PAT_1725901955       0               0

[123 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325261       1               2
1    DIG_PAT_1696325721       1               0
2    DIG_PAT_1696326112       0               2
3    DIG_PAT_1696326480       1               2
4    DIG_PAT_1696326773       1               0
..                  ...     ...             ...
118  DIG_PAT_1717056601       2               0
119  DIG_PAT_1725899959       0               0
120  DIG_PAT_1725900359       2               0
121  DIG_PAT_1725901598       1               0
122  DIG_PAT_1725901955       0               0

[123 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325261       1               2
1    DIG_PAT_1696325721       1               2
2    DIG_PAT_1696326112       0               2
3    DIG_PAT_1696326480       1               0
4    DIG_PAT_1696326773       1               0
..                  ...     ...             ...
118  DIG_PAT_1717056601       2               0
119  DIG_PAT_1725899959       0               2
120  DIG_PAT_1725900359       2               2
121  DIG_PAT_1725901598       1               2
122  DIG_PAT_1725901955       0               2

[123 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325261       1               2
1    DIG_PAT_1696325721       1               1
2    DIG_PAT_1696326112       0               0
3    DIG_PAT_1696326480       1               0
4    DIG_PAT_1696326773       1               1
..                  ...     ...             ...
118  DIG_PAT_1717056601       2               1
119  DIG_PAT_1725899959       0               1
120  DIG_PAT_1725900359       2               0
121  DIG_PAT_1725901598       1               1
122  DIG_PAT_1725901955       0               1

[123 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325556       1               0
1    DIG_PAT_1696325611       2               2
2    DIG_PAT_1696326269       2               0
3    DIG_PAT_1696326614       2               0
4    DIG_PAT_1696327293       0               0
..                  ...     ...             ...
109  DIG_PAT_1725901034       2               1
110  DIG_PAT_1725901111       2               1
111  DIG_PAT_1725901153       1               1
112  DIG_PAT_1725901192       2               0
113  DIG_PAT_1725901666       1               2

[114 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325556       1               0
1    DIG_PAT_1696325611       2               2
2    DIG_PAT_1696326269       2               0
3    DIG_PAT_1696326614       2               1
4    DIG_PAT_1696327293       0               1
..                  ...     ...             ...
109  DIG_PAT_1725901034       2               0
110  DIG_PAT_1725901111       2               2
111  DIG_PAT_1725901153       1               1
112  DIG_PAT_1725901192       2               0
113  DIG_PAT_1725901666       1               0

[114 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325556       1               0
1    DIG_PAT_1696325611       2               1
2    DIG_PAT_1696326269       2               0
3    DIG_PAT_1696326614       2               0
4    DIG_PAT_1696327293       0               1
..                  ...     ...             ...
109  DIG_PAT_1725901034       2               1
110  DIG_PAT_1725901111       2               2
111  DIG_PAT_1725901153       1               1
112  DIG_PAT_1725901192       2               2
113  DIG_PAT_1725901666       1               1

[114 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325556       1               0
1    DIG_PAT_1696325611       2               0
2    DIG_PAT_1696326269       2               1
3    DIG_PAT_1696326614       2               2
4    DIG_PAT_1696327293       0               0
..                  ...     ...             ...
109  DIG_PAT_1725901034       2               1
110  DIG_PAT_1725901111       2               1
111  DIG_PAT_1725901153       1               1
112  DIG_PAT_1725901192       2               1
113  DIG_PAT_1725901666       1               0

[114 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325556       1               1
1    DIG_PAT_1696325611       2               2
2    DIG_PAT_1696326269       2               1
3    DIG_PAT_1696326614       2               0
4    DIG_PAT_1696327293       0               1
..                  ...     ...             ...
109  DIG_PAT_1725901034       2               0
110  DIG_PAT_1725901111       2               1
111  DIG_PAT_1725901153       1               1
112  DIG_PAT_1725901192       2               2
113  DIG_PAT_1725901666       1               1

[114 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325152       2               0
1    DIG_PAT_1696325458       0               1
2    DIG_PAT_1696326532       2               0
3    DIG_PAT_1696328100       2               0
4    DIG_PAT_1696328536       0               1
..                  ...     ...             ...
108  DIG_PAT_1717055702       1               2
109  DIG_PAT_1717055846       1               0
110  DIG_PAT_1717056235       0               0
111  DIG_PAT_1717056286       1               2
112  DIG_PAT_1725899878       1               2

[113 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325152       2               1
1    DIG_PAT_1696325458       0               2
2    DIG_PAT_1696326532       2               1
3    DIG_PAT_1696328100       2               2
4    DIG_PAT_1696328536       0               2
..                  ...     ...             ...
108  DIG_PAT_1717055702       1               1
109  DIG_PAT_1717055846       1               0
110  DIG_PAT_1717056235       0               1
111  DIG_PAT_1717056286       1               2
112  DIG_PAT_1725899878       1               1

[113 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325152       2               1
1    DIG_PAT_1696325458       0               1
2    DIG_PAT_1696326532       2               0
3    DIG_PAT_1696328100       2               1
4    DIG_PAT_1696328536       0               1
..                  ...     ...             ...
108  DIG_PAT_1717055702       1               2
109  DIG_PAT_1717055846       1               0
110  DIG_PAT_1717056235       0               2
111  DIG_PAT_1717056286       1               1
112  DIG_PAT_1725899878       1               2

[113 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325152       2               2
1    DIG_PAT_1696325458       0               1
2    DIG_PAT_1696326532       2               1
3    DIG_PAT_1696328100       2               1
4    DIG_PAT_1696328536       0               1
..                  ...     ...             ...
108  DIG_PAT_1717055702       1               2
109  DIG_PAT_1717055846       1               2
110  DIG_PAT_1717056235       0               1
111  DIG_PAT_1717056286       1               0
112  DIG_PAT_1725899878       1               2

[113 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325152       2               1
1    DIG_PAT_1696325458       0               1
2    DIG_PAT_1696326532       2               1
3    DIG_PAT_1696328100       2               2
4    DIG_PAT_1696328536       0               1
..                  ...     ...             ...
108  DIG_PAT_1717055702       1               1
109  DIG_PAT_1717055846       1               1
110  DIG_PAT_1717056235       0               0
111  DIG_PAT_1717056286       1               1
112  DIG_PAT_1725899878       1               2

[113 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325346       0               0
1    DIG_PAT_1696325661       2               0
2    DIG_PAT_1696325698       2               1
3    DIG_PAT_1696326367       2               2
4    DIG_PAT_1696326583       2               2
..                  ...     ...             ...
119  DIG_PAT_1725901090       1               2
120  DIG_PAT_1725901132       2               2
121  DIG_PAT_1725901164       2               2
122  DIG_PAT_1725901798       2               1
123  DIG_PAT_1725901870       0               2

[124 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325346       0               0
1    DIG_PAT_1696325661       2               2
2    DIG_PAT_1696325698       2               1
3    DIG_PAT_1696326367       2               1
4    DIG_PAT_1696326583       2               2
..                  ...     ...             ...
119  DIG_PAT_1725901090       1               1
120  DIG_PAT_1725901132       2               1
121  DIG_PAT_1725901164       2               1
122  DIG_PAT_1725901798       2               0
123  DIG_PAT_1725901870       0               1

[124 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325346       0               1
1    DIG_PAT_1696325661       2               2
2    DIG_PAT_1696325698       2               1
3    DIG_PAT_1696326367       2               1
4    DIG_PAT_1696326583       2               1
..                  ...     ...             ...
119  DIG_PAT_1725901090       1               1
120  DIG_PAT_1725901132       2               1
121  DIG_PAT_1725901164       2               0
122  DIG_PAT_1725901798       2               1
123  DIG_PAT_1725901870       0               1

[124 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325346       0               2
1    DIG_PAT_1696325661       2               1
2    DIG_PAT_1696325698       2               0
3    DIG_PAT_1696326367       2               1
4    DIG_PAT_1696326583       2               1
..                  ...     ...             ...
119  DIG_PAT_1725901090       1               0
120  DIG_PAT_1725901132       2               1
121  DIG_PAT_1725901164       2               2
122  DIG_PAT_1725901798       2               2
123  DIG_PAT_1725901870       0               0

[124 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325346       0               2
1    DIG_PAT_1696325661       2               0
2    DIG_PAT_1696325698       2               0
3    DIG_PAT_1696326367       2               0
4    DIG_PAT_1696326583       2               0
..                  ...     ...             ...
119  DIG_PAT_1725901090       1               1
120  DIG_PAT_1725901132       2               1
121  DIG_PAT_1725901164       2               0
122  DIG_PAT_1725901798       2               0
123  DIG_PAT_1725901870       0               1

[124 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325298       2               0
1   DIG_PAT_1696326144       2               0
2   DIG_PAT_1696326458       0               2
3   DIG_PAT_1696327666       2               0
4   DIG_PAT_1696328187       1               1
..                 ...     ...             ...
94  DIG_PAT_1717056563       0               2
95  DIG_PAT_1725900995       2               0
96  DIG_PAT_1725901497       2               1
97  DIG_PAT_1725901844       1               2
98  DIG_PAT_1725901895       0               0

[99 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325298       2               0
1   DIG_PAT_1696326144       2               1
2   DIG_PAT_1696326458       0               2
3   DIG_PAT_1696327666       2               2
4   DIG_PAT_1696328187       1               2
..                 ...     ...             ...
94  DIG_PAT_1717056563       0               0
95  DIG_PAT_1725900995       2               1
96  DIG_PAT_1725901497       2               0
97  DIG_PAT_1725901844       1               1
98  DIG_PAT_1725901895       0               2

[99 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325298       2               2
1   DIG_PAT_1696326144       2               2
2   DIG_PAT_1696326458       0               2
3   DIG_PAT_1696327666       2               2
4   DIG_PAT_1696328187       1               2
..                 ...     ...             ...
94  DIG_PAT_1717056563       0               0
95  DIG_PAT_1725900995       2               1
96  DIG_PAT_1725901497       2               1
97  DIG_PAT_1725901844       1               1
98  DIG_PAT_1725901895       0               0

[99 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325298       2               0
1   DIG_PAT_1696326144       2               2
2   DIG_PAT_1696326458       0               2
3   DIG_PAT_1696327666       2               0
4   DIG_PAT_1696328187       1               2
..                 ...     ...             ...
94  DIG_PAT_1717056563       0               2
95  DIG_PAT_1725900995       2               1
96  DIG_PAT_1725901497       2               1
97  DIG_PAT_1725901844       1               0
98  DIG_PAT_1725901895       0               1

[99 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325298       2               1
1   DIG_PAT_1696326144       2               0
2   DIG_PAT_1696326458       0               1
3   DIG_PAT_1696327666       2               0
4   DIG_PAT_1696328187       1               1
..                 ...     ...             ...
94  DIG_PAT_1717056563       0               2
95  DIG_PAT_1725900995       2               2
96  DIG_PAT_1725901497       2               2
97  DIG_PAT_1725901844       1               0
98  DIG_PAT_1725901895       0               1

[99 rows x 3 columns]

                slide  y_true  y_pred_max_idx_1  y_pred_max_idx_2  \
0  DIG_PAT_1696325152       2                 0                 1
1  DIG_PAT_1696325261       1                 0                 0
2  DIG_PAT_1696325298       2                 0                 0
3  DIG_PAT_1696325346       0                 0                 0
4  DIG_PAT_1696325458       0                 1                 2

   y_pred_max_idx_3  y_pred_max_idx_4  y_pred_max_idx_5  y_pred
0                 1                 2                 1     1.0
1                 2                 2                 2     2.0
2                 2                 0                 1     0.0
3                 1                 2                 2     0.0
4                 1                 1                 1     1.0

,Dataset,Fold,Accuracy,Balanced Accuracy,Precision,Recall,F1_score,0.0_precision,0.0_recall,0.0_f1-score,...,2.0_f1-score,2.0_support,macro avg_precision,macro avg_recall,macro avg_f1-score,macro avg_support,weighted avg_precision,weighted avg_recall,weighted avg_f1-score,weighted avg_support
0,test,25,0.376963,0.35576,0.366481,0.376963,0.365313,0.457447,0.53527,0.493308,...,0.229391,174.0,0.352636,0.35576,0.347489,573.0,0.366481,0.376963,0.365313,573.0

adsq
This is the working folder: /media/mmd/Samsung_T5/GitHub/UMD
Queste sono le lablesdict_values(['adenocarcinoma', 'squamous'])

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325152       0               0
1    DIG_PAT_1696325261       0               0
2    DIG_PAT_1696325298       0               0
3    DIG_PAT_1696325721       0               0
4    DIG_PAT_1696326112       0               0
..                  ...     ...             ...
122  DIG_PAT_1725900498       0               0
123  DIG_PAT_1725900995       0               0
124  DIG_PAT_1725901090       0               0
125  DIG_PAT_1725901192       0               0
126  DIG_PAT_1725902696       1               0

[127 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325152       0               0
1    DIG_PAT_1696325261       0               0
2    DIG_PAT_1696325298       0               1
3    DIG_PAT_1696325721       0               0
4    DIG_PAT_1696326112       0               0
..                  ...     ...             ...
122  DIG_PAT_1725900498       0               0
123  DIG_PAT_1725900995       0               0
124  DIG_PAT_1725901090       0               0
125  DIG_PAT_1725901192       0               0
126  DIG_PAT_1725902696       1               0

[127 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325152       0               0
1    DIG_PAT_1696325261       0               0
2    DIG_PAT_1696325298       0               1
3    DIG_PAT_1696325721       0               0
4    DIG_PAT_1696326112       0               0
..                  ...     ...             ...
122  DIG_PAT_1725900498       0               0
123  DIG_PAT_1725900995       0               0
124  DIG_PAT_1725901090       0               0
125  DIG_PAT_1725901192       0               0
126  DIG_PAT_1725902696       1               0

[127 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325152       0               0
1    DIG_PAT_1696325261       0               0
2    DIG_PAT_1696325298       0               1
3    DIG_PAT_1696325721       0               0
4    DIG_PAT_1696326112       0               0
..                  ...     ...             ...
122  DIG_PAT_1725900498       0               0
123  DIG_PAT_1725900995       0               0
124  DIG_PAT_1725901090       0               0
125  DIG_PAT_1725901192       0               0
126  DIG_PAT_1725902696       1               0

[127 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325152       0               0
1    DIG_PAT_1696325261       0               0
2    DIG_PAT_1696325298       0               1
3    DIG_PAT_1696325721       0               0
4    DIG_PAT_1696326112       0               0
..                  ...     ...             ...
122  DIG_PAT_1725900498       0               0
123  DIG_PAT_1725900995       0               0
124  DIG_PAT_1725901090       0               0
125  DIG_PAT_1725901192       0               0
126  DIG_PAT_1725902696       1               1

[127 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696326532       0               0
1    DIG_PAT_1696327293       0               0
2    DIG_PAT_1696327589       0               1
3    DIG_PAT_1696327666       1               1
4    DIG_PAT_1696328272       0               0
..                  ...     ...             ...
117  DIG_PAT_1725900507       1               1
118  DIG_PAT_1725900631       1               1
119  DIG_PAT_1725900643       0               1
120  DIG_PAT_1725901034       0               0
121  DIG_PAT_1725901598       0               0

[122 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696326532       0               0
1    DIG_PAT_1696327293       0               0
2    DIG_PAT_1696327589       0               0
3    DIG_PAT_1696327666       1               1
4    DIG_PAT_1696328272       0               0
..                  ...     ...             ...
117  DIG_PAT_1725900507       1               1
118  DIG_PAT_1725900631       1               1
119  DIG_PAT_1725900643       0               0
120  DIG_PAT_1725901034       0               0
121  DIG_PAT_1725901598       0               0

[122 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696326532       0               0
1    DIG_PAT_1696327293       0               0
2    DIG_PAT_1696327589       0               0
3    DIG_PAT_1696327666       1               1
4    DIG_PAT_1696328272       0               0
..                  ...     ...             ...
117  DIG_PAT_1725900507       1               1
118  DIG_PAT_1725900631       1               1
119  DIG_PAT_1725900643       0               1
120  DIG_PAT_1725901034       0               0
121  DIG_PAT_1725901598       0               0

[122 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696326532       0               0
1    DIG_PAT_1696327293       0               0
2    DIG_PAT_1696327589       0               1
3    DIG_PAT_1696327666       1               1
4    DIG_PAT_1696328272       0               0
..                  ...     ...             ...
117  DIG_PAT_1725900507       1               1
118  DIG_PAT_1725900631       1               1
119  DIG_PAT_1725900643       0               1
120  DIG_PAT_1725901034       0               0
121  DIG_PAT_1725901598       0               0

[122 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696326532       0               0
1    DIG_PAT_1696327293       0               0
2    DIG_PAT_1696327589       0               0
3    DIG_PAT_1696327666       1               1
4    DIG_PAT_1696328272       0               0
..                  ...     ...             ...
117  DIG_PAT_1725900507       1               1
118  DIG_PAT_1725900631       1               1
119  DIG_PAT_1725900643       0               0
120  DIG_PAT_1725901034       0               0
121  DIG_PAT_1725901598       0               0

[122 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325346       0               1
1    DIG_PAT_1696325556       0               1
2    DIG_PAT_1696325611       0               0
3    DIG_PAT_1696326583       0               1
4    DIG_PAT_1696327532       0               0
..                  ...     ...             ...
118  DIG_PAT_1725901111       0               0
119  DIG_PAT_1725901132       1               1
120  DIG_PAT_1725901828       0               0
121  DIG_PAT_1725901924       1               1
122  DIG_PAT_1725901955       0               0

[123 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325346       0               1
1    DIG_PAT_1696325556       0               1
2    DIG_PAT_1696325611       0               0
3    DIG_PAT_1696326583       0               1
4    DIG_PAT_1696327532       0               0
..                  ...     ...             ...
118  DIG_PAT_1725901111       0               0
119  DIG_PAT_1725901132       1               1
120  DIG_PAT_1725901828       0               0
121  DIG_PAT_1725901924       1               0
122  DIG_PAT_1725901955       0               0

[123 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325346       0               1
1    DIG_PAT_1696325556       0               1
2    DIG_PAT_1696325611       0               0
3    DIG_PAT_1696326583       0               1
4    DIG_PAT_1696327532       0               0
..                  ...     ...             ...
118  DIG_PAT_1725901111       0               0
119  DIG_PAT_1725901132       1               1
120  DIG_PAT_1725901828       0               0
121  DIG_PAT_1725901924       1               1
122  DIG_PAT_1725901955       0               1

[123 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325346       0               0
1    DIG_PAT_1696325556       0               1
2    DIG_PAT_1696325611       0               0
3    DIG_PAT_1696326583       0               1
4    DIG_PAT_1696327532       0               0
..                  ...     ...             ...
118  DIG_PAT_1725901111       0               0
119  DIG_PAT_1725901132       1               1
120  DIG_PAT_1725901828       0               0
121  DIG_PAT_1725901924       1               1
122  DIG_PAT_1725901955       0               1

[123 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325346       0               0
1    DIG_PAT_1696325556       0               1
2    DIG_PAT_1696325611       0               0
3    DIG_PAT_1696326583       0               1
4    DIG_PAT_1696327532       0               0
..                  ...     ...             ...
118  DIG_PAT_1725901111       0               0
119  DIG_PAT_1725901132       1               1
120  DIG_PAT_1725901828       0               0
121  DIG_PAT_1725901924       1               1
122  DIG_PAT_1725901955       0               0

[123 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325698       0               0
1    DIG_PAT_1696326269       0               0
2    DIG_PAT_1696326367       0               0
3    DIG_PAT_1696326773       0               0
4    DIG_PAT_1696328810       0               0
..                  ...     ...             ...
119  DIG_PAT_1725901484       1               0
120  DIG_PAT_1725901497       0               0
121  DIG_PAT_1725901798       0               0
122  DIG_PAT_1725901844       0               0
123  DIG_PAT_1725902645       1               1

[124 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325698       0               0
1    DIG_PAT_1696326269       0               0
2    DIG_PAT_1696326367       0               0
3    DIG_PAT_1696326773       0               0
4    DIG_PAT_1696328810       0               0
..                  ...     ...             ...
119  DIG_PAT_1725901484       1               0
120  DIG_PAT_1725901497       0               0
121  DIG_PAT_1725901798       0               0
122  DIG_PAT_1725901844       0               0
123  DIG_PAT_1725902645       1               1

[124 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325698       0               0
1    DIG_PAT_1696326269       0               0
2    DIG_PAT_1696326367       0               0
3    DIG_PAT_1696326773       0               0
4    DIG_PAT_1696328810       0               1
..                  ...     ...             ...
119  DIG_PAT_1725901484       1               0
120  DIG_PAT_1725901497       0               0
121  DIG_PAT_1725901798       0               0
122  DIG_PAT_1725901844       0               0
123  DIG_PAT_1725902645       1               1

[124 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325698       0               0
1    DIG_PAT_1696326269       0               0
2    DIG_PAT_1696326367       0               0
3    DIG_PAT_1696326773       0               0
4    DIG_PAT_1696328810       0               0
..                  ...     ...             ...
119  DIG_PAT_1725901484       1               0
120  DIG_PAT_1725901497       0               0
121  DIG_PAT_1725901798       0               0
122  DIG_PAT_1725901844       0               1
123  DIG_PAT_1725902645       1               1

[124 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325698       0               0
1    DIG_PAT_1696326269       0               0
2    DIG_PAT_1696326367       0               0
3    DIG_PAT_1696326773       0               0
4    DIG_PAT_1696328810       0               0
..                  ...     ...             ...
119  DIG_PAT_1725901484       1               0
120  DIG_PAT_1725901497       0               0
121  DIG_PAT_1725901798       0               0
122  DIG_PAT_1725901844       0               1
123  DIG_PAT_1725902645       1               1

[124 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325458       0               1
1    DIG_PAT_1696325661       0               0
2    DIG_PAT_1696326144       0               1
3    DIG_PAT_1696326614       0               0
4    DIG_PAT_1696328054       1               1
..                  ...     ...             ...
113  DIG_PAT_1725900535       1               0
114  DIG_PAT_1725900812       1               1
115  DIG_PAT_1725901666       0               1
116  DIG_PAT_1725901870       1               1
117  DIG_PAT_1725901895       1               1

[118 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325458       0               0
1    DIG_PAT_1696325661       0               0
2    DIG_PAT_1696326144       0               0
3    DIG_PAT_1696326614       0               1
4    DIG_PAT_1696328054       1               1
..                  ...     ...             ...
113  DIG_PAT_1725900535       1               1
114  DIG_PAT_1725900812       1               1
115  DIG_PAT_1725901666       0               1
116  DIG_PAT_1725901870       1               1
117  DIG_PAT_1725901895       1               1

[118 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325458       0               0
1    DIG_PAT_1696325661       0               0
2    DIG_PAT_1696326144       0               0
3    DIG_PAT_1696326614       0               1
4    DIG_PAT_1696328054       1               1
..                  ...     ...             ...
113  DIG_PAT_1725900535       1               0
114  DIG_PAT_1725900812       1               1
115  DIG_PAT_1725901666       0               1
116  DIG_PAT_1725901870       1               1
117  DIG_PAT_1725901895       1               1

[118 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325458       0               0
1    DIG_PAT_1696325661       0               0
2    DIG_PAT_1696326144       0               0
3    DIG_PAT_1696326614       0               0
4    DIG_PAT_1696328054       1               1
..                  ...     ...             ...
113  DIG_PAT_1725900535       1               0
114  DIG_PAT_1725900812       1               1
115  DIG_PAT_1725901666       0               1
116  DIG_PAT_1725901870       1               1
117  DIG_PAT_1725901895       1               1

[118 rows x 3 columns]

                  slide  y_true  y_pred_max_idx
0    DIG_PAT_1696325458       0               0
1    DIG_PAT_1696325661       0               0
2    DIG_PAT_1696326144       0               0
3    DIG_PAT_1696326614       0               1
4    DIG_PAT_1696328054       1               1
..                  ...     ...             ...
113  DIG_PAT_1725900535       1               0
114  DIG_PAT_1725900812       1               1
115  DIG_PAT_1725901666       0               0
116  DIG_PAT_1725901870       1               1
117  DIG_PAT_1725901895       1               1

[118 rows x 3 columns]

                slide  y_true  y_pred_max_idx_1  y_pred_max_idx_2  \
0  DIG_PAT_1696325152       0                 0                 0
1  DIG_PAT_1696325261       0                 0                 0
2  DIG_PAT_1696325298       0                 0                 1
3  DIG_PAT_1696325346       0                 1                 1
4  DIG_PAT_1696325458       0                 1                 0

   y_pred_max_idx_3  y_pred_max_idx_4  y_pred_max_idx_5  y_pred
0                 0                 0                 0       0
1                 0                 0                 0       0
2                 1                 1                 1       1
3                 1                 0                 0       1
4                 0                 0                 0       0

,Dataset,Fold,Accuracy,Balanced Accuracy,Precision,Recall,F1_score,adenocarcinoma_precision,adenocarcinoma_recall,adenocarcinoma_f1-score,...,squamous_f1-score,squamous_support,macro avg_precision,macro avg_recall,macro avg_f1-score,macro avg_support,weighted avg_precision,weighted avg_recall,weighted avg_f1-score,weighted avg_support
0,test,25,0.767101,0.772062,0.826241,0.767101,0.783078,0.923858,0.763103,0.835821,...,0.59944,137.0,0.705111,0.772062,0.71763,614.0,0.826241,0.767101,0.783078,614.0

pdl1-3
This is the working folder: /media/mmd/Samsung_T5/GitHub/UMD
Queste sono le lablesdict_values(['1-49 %', '< 1 %', '>=50 %'])

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325611       1               2
1   DIG_PAT_1696327589       0               1
2   DIG_PAT_1696328810       2               2
3   DIG_PAT_1696332087       1               2
4   DIG_PAT_1696332156       1               1
..                 ...     ...             ...
72  DIG_PAT_1717055898       1               0
73  DIG_PAT_1725899878       0               1
74  DIG_PAT_1725899959       0               1
75  DIG_PAT_1725901164       2               1
76  DIG_PAT_1725901798       1               1

[77 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325611       1               0
1   DIG_PAT_1696327589       0               0
2   DIG_PAT_1696328810       2               1
3   DIG_PAT_1696332087       1               0
4   DIG_PAT_1696332156       1               2
..                 ...     ...             ...
72  DIG_PAT_1717055898       1               1
73  DIG_PAT_1725899878       0               1
74  DIG_PAT_1725899959       0               2
75  DIG_PAT_1725901164       2               2
76  DIG_PAT_1725901798       1               1

[77 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325611       1               2
1   DIG_PAT_1696327589       0               1
2   DIG_PAT_1696328810       2               0
3   DIG_PAT_1696332087       1               2
4   DIG_PAT_1696332156       1               2
..                 ...     ...             ...
72  DIG_PAT_1717055898       1               0
73  DIG_PAT_1725899878       0               1
74  DIG_PAT_1725899959       0               1
75  DIG_PAT_1725901164       2               0
76  DIG_PAT_1725901798       1               1

[77 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325611       1               1
1   DIG_PAT_1696327589       0               0
2   DIG_PAT_1696328810       2               2
3   DIG_PAT_1696332087       1               0
4   DIG_PAT_1696332156       1               1
..                 ...     ...             ...
72  DIG_PAT_1717055898       1               1
73  DIG_PAT_1725899878       0               0
74  DIG_PAT_1725899959       0               2
75  DIG_PAT_1725901164       2               2
76  DIG_PAT_1725901798       1               1

[77 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325611       1               0
1   DIG_PAT_1696327589       0               0
2   DIG_PAT_1696328810       2               1
3   DIG_PAT_1696332087       1               1
4   DIG_PAT_1696332156       1               0
..                 ...     ...             ...
72  DIG_PAT_1717055898       1               0
73  DIG_PAT_1725899878       0               1
74  DIG_PAT_1725899959       0               1
75  DIG_PAT_1725901164       2               2
76  DIG_PAT_1725901798       1               0

[77 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325556       2               2
1   DIG_PAT_1696326480       2               1
2   DIG_PAT_1696326532       2               2
3   DIG_PAT_1696326583       2               2
4   DIG_PAT_1696327666       0               0
..                 ...     ...             ...
81  DIG_PAT_1717056286       0               0
82  DIG_PAT_1717056563       1               1
83  DIG_PAT_1725901111       1               1
84  DIG_PAT_1725901153       2               0
85  DIG_PAT_1725901870       0               2

[86 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325556       2               2
1   DIG_PAT_1696326480       2               2
2   DIG_PAT_1696326532       2               0
3   DIG_PAT_1696326583       2               0
4   DIG_PAT_1696327666       0               2
..                 ...     ...             ...
81  DIG_PAT_1717056286       0               2
82  DIG_PAT_1717056563       1               0
83  DIG_PAT_1725901111       1               2
84  DIG_PAT_1725901153       2               0
85  DIG_PAT_1725901870       0               2

[86 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325556       2               1
1   DIG_PAT_1696326480       2               2
2   DIG_PAT_1696326532       2               1
3   DIG_PAT_1696326583       2               1
4   DIG_PAT_1696327666       0               1
..                 ...     ...             ...
81  DIG_PAT_1717056286       0               1
82  DIG_PAT_1717056563       1               1
83  DIG_PAT_1725901111       1               1
84  DIG_PAT_1725901153       2               1
85  DIG_PAT_1725901870       0               0

[86 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325556       2               0
1   DIG_PAT_1696326480       2               0
2   DIG_PAT_1696326532       2               0
3   DIG_PAT_1696326583       2               2
4   DIG_PAT_1696327666       0               2
..                 ...     ...             ...
81  DIG_PAT_1717056286       0               1
82  DIG_PAT_1717056563       1               0
83  DIG_PAT_1725901111       1               2
84  DIG_PAT_1725901153       2               0
85  DIG_PAT_1725901870       0               2

[86 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325556       2               2
1   DIG_PAT_1696326480       2               2
2   DIG_PAT_1696326532       2               1
3   DIG_PAT_1696326583       2               1
4   DIG_PAT_1696327666       0               1
..                 ...     ...             ...
81  DIG_PAT_1717056286       0               2
82  DIG_PAT_1717056563       1               1
83  DIG_PAT_1725901111       1               0
84  DIG_PAT_1725901153       2               2
85  DIG_PAT_1725901870       0               2

[86 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325298       0               0
1   DIG_PAT_1696325698       0               2
2   DIG_PAT_1696326112       1               2
3   DIG_PAT_1696326144       0               2
4   DIG_PAT_1696328148       1               2
..                 ...     ...             ...
79  DIG_PAT_1717056201       0               1
80  DIG_PAT_1717056391       2               1
81  DIG_PAT_1725901192       1               0
82  DIG_PAT_1725901666       2               0
83  DIG_PAT_1725901895       2               0

[84 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325298       0               2
1   DIG_PAT_1696325698       0               0
2   DIG_PAT_1696326112       1               0
3   DIG_PAT_1696326144       0               1
4   DIG_PAT_1696328148       1               0
..                 ...     ...             ...
79  DIG_PAT_1717056201       0               0
80  DIG_PAT_1717056391       2               1
81  DIG_PAT_1725901192       1               2
82  DIG_PAT_1725901666       2               1
83  DIG_PAT_1725901895       2               1

[84 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325298       0               0
1   DIG_PAT_1696325698       0               0
2   DIG_PAT_1696326112       1               0
3   DIG_PAT_1696326144       0               0
4   DIG_PAT_1696328148       1               0
..                 ...     ...             ...
79  DIG_PAT_1717056201       0               1
80  DIG_PAT_1717056391       2               0
81  DIG_PAT_1725901192       1               2
82  DIG_PAT_1725901666       2               0
83  DIG_PAT_1725901895       2               1

[84 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325298       0               2
1   DIG_PAT_1696325698       0               0
2   DIG_PAT_1696326112       1               2
3   DIG_PAT_1696326144       0               0
4   DIG_PAT_1696328148       1               1
..                 ...     ...             ...
79  DIG_PAT_1717056201       0               0
80  DIG_PAT_1717056391       2               2
81  DIG_PAT_1725901192       1               1
82  DIG_PAT_1725901666       2               0
83  DIG_PAT_1725901895       2               1

[84 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325298       0               2
1   DIG_PAT_1696325698       0               1
2   DIG_PAT_1696326112       1               0
3   DIG_PAT_1696326144       0               0
4   DIG_PAT_1696328148       1               1
..                 ...     ...             ...
79  DIG_PAT_1717056201       0               1
80  DIG_PAT_1717056391       2               0
81  DIG_PAT_1725901192       1               0
82  DIG_PAT_1725901666       2               0
83  DIG_PAT_1725901895       2               0

[84 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325152       2               0
1   DIG_PAT_1696325261       0               1
2   DIG_PAT_1696325346       0               1
3   DIG_PAT_1696325661       2               1
4   DIG_PAT_1696326367       0               0
..                 ...     ...             ...
82  DIG_PAT_1713907953       1               0
83  DIG_PAT_1713908195       1               1
84  DIG_PAT_1713908227       1               2
85  DIG_PAT_1714416914       1               2
86  DIG_PAT_1725901844       2               1

[87 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325152       2               0
1   DIG_PAT_1696325261       0               0
2   DIG_PAT_1696325346       0               0
3   DIG_PAT_1696325661       2               0
4   DIG_PAT_1696326367       0               0
..                 ...     ...             ...
82  DIG_PAT_1713907953       1               1
83  DIG_PAT_1713908195       1               1
84  DIG_PAT_1713908227       1               1
85  DIG_PAT_1714416914       1               0
86  DIG_PAT_1725901844       2               0

[87 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325152       2               0
1   DIG_PAT_1696325261       0               2
2   DIG_PAT_1696325346       0               2
3   DIG_PAT_1696325661       2               0
4   DIG_PAT_1696326367       0               0
..                 ...     ...             ...
82  DIG_PAT_1713907953       1               0
83  DIG_PAT_1713908195       1               0
84  DIG_PAT_1713908227       1               2
85  DIG_PAT_1714416914       1               2
86  DIG_PAT_1725901844       2               2

[87 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325152       2               0
1   DIG_PAT_1696325261       0               0
2   DIG_PAT_1696325346       0               0
3   DIG_PAT_1696325661       2               0
4   DIG_PAT_1696326367       0               0
..                 ...     ...             ...
82  DIG_PAT_1713907953       1               0
83  DIG_PAT_1713908195       1               0
84  DIG_PAT_1713908227       1               0
85  DIG_PAT_1714416914       1               1
86  DIG_PAT_1725901844       2               1

[87 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325152       2               2
1   DIG_PAT_1696325261       0               2
2   DIG_PAT_1696325346       0               0
3   DIG_PAT_1696325661       2               2
4   DIG_PAT_1696326367       0               0
..                 ...     ...             ...
82  DIG_PAT_1713907953       1               1
83  DIG_PAT_1713908195       1               1
84  DIG_PAT_1713908227       1               1
85  DIG_PAT_1714416914       1               1
86  DIG_PAT_1725901844       2               2

[87 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325721       2               2
1   DIG_PAT_1696326269       0               2
2   DIG_PAT_1696327293       1               1
3   DIG_PAT_1696327532       2               1
4   DIG_PAT_1696327717       0               1
..                 ...     ...             ...
80  DIG_PAT_1717055846       2               1
81  DIG_PAT_1717056457       0               0
82  DIG_PAT_1725901497       2               2
83  DIG_PAT_1725901598       1               1
84  DIG_PAT_1725901955       0               2

[85 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325721       2               0
1   DIG_PAT_1696326269       0               0
2   DIG_PAT_1696327293       1               0
3   DIG_PAT_1696327532       2               1
4   DIG_PAT_1696327717       0               1
..                 ...     ...             ...
80  DIG_PAT_1717055846       2               1
81  DIG_PAT_1717056457       0               2
82  DIG_PAT_1725901497       2               0
83  DIG_PAT_1725901598       1               1
84  DIG_PAT_1725901955       0               2

[85 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325721       2               2
1   DIG_PAT_1696326269       0               2
2   DIG_PAT_1696327293       1               2
3   DIG_PAT_1696327532       2               0
4   DIG_PAT_1696327717       0               1
..                 ...     ...             ...
80  DIG_PAT_1717055846       2               1
81  DIG_PAT_1717056457       0               2
82  DIG_PAT_1725901497       2               2
83  DIG_PAT_1725901598       1               1
84  DIG_PAT_1725901955       0               2

[85 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325721       2               0
1   DIG_PAT_1696326269       0               0
2   DIG_PAT_1696327293       1               2
3   DIG_PAT_1696327532       2               1
4   DIG_PAT_1696327717       0               0
..                 ...     ...             ...
80  DIG_PAT_1717055846       2               2
81  DIG_PAT_1717056457       0               0
82  DIG_PAT_1725901497       2               0
83  DIG_PAT_1725901598       1               1
84  DIG_PAT_1725901955       0               2

[85 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325721       2               0
1   DIG_PAT_1696326269       0               2
2   DIG_PAT_1696327293       1               0
3   DIG_PAT_1696327532       2               1
4   DIG_PAT_1696327717       0               1
..                 ...     ...             ...
80  DIG_PAT_1717055846       2               2
81  DIG_PAT_1717056457       0               2
82  DIG_PAT_1725901497       2               0
83  DIG_PAT_1725901598       1               1
84  DIG_PAT_1725901955       0               0

[85 rows x 3 columns]

                slide  y_true  y_pred_max_idx_1  y_pred_max_idx_2  \
0  DIG_PAT_1696325152       2                 0                 0
1  DIG_PAT_1696325261       0                 1                 0
2  DIG_PAT_1696325298       0                 0                 2
3  DIG_PAT_1696325346       0                 1                 0
4  DIG_PAT_1696325556       2                 2                 2

   y_pred_max_idx_3  y_pred_max_idx_4  y_pred_max_idx_5  y_pred
0                 0                 0                 2     0.0
1                 2                 0                 2     0.0
2                 0                 2                 2     2.0
3                 2                 0                 0     0.0
4                 1                 0                 2     2.0

,Dataset,Fold,Accuracy,Balanced Accuracy,Precision,Recall,F1_score,1-49 %_precision,1-49 %_recall,1-49 %_f1-score,...,>=50 %_f1-score,>=50 %_support,macro avg_precision,macro avg_recall,macro avg_f1-score,macro avg_support,weighted avg_precision,weighted avg_recall,weighted avg_f1-score,weighted avg_support
0,test,25,0.498807,0.497773,0.529623,0.498807,0.492468,0.429204,0.692857,0.530055,...,0.445455,135.0,0.529669,0.497773,0.491836,419.0,0.529623,0.498807,0.492468,419.0

pdl1-2
This is the working folder: /media/mmd/Samsung_T5/GitHub/UMD
Queste sono le lablesdict_values(['0-49 %', '>=50 %'])

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325261       0               0
1   DIG_PAT_1696325346       0               0
2   DIG_PAT_1696325611       0               0
3   DIG_PAT_1696326458       0               0
4   DIG_PAT_1696326583       1               1
..                 ...     ...             ...
79  DIG_PAT_1717056563       0               1
80  DIG_PAT_1725901598       0               0
81  DIG_PAT_1725901870       0               1
82  DIG_PAT_1725901895       1               0
83  DIG_PAT_1725901955       0               1

[84 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325261       0               1
1   DIG_PAT_1696325346       0               0
2   DIG_PAT_1696325611       0               0
3   DIG_PAT_1696326458       0               0
4   DIG_PAT_1696326583       1               0
..                 ...     ...             ...
79  DIG_PAT_1717056563       0               0
80  DIG_PAT_1725901598       0               0
81  DIG_PAT_1725901870       0               1
82  DIG_PAT_1725901895       1               0
83  DIG_PAT_1725901955       0               0

[84 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325261       0               1
1   DIG_PAT_1696325346       0               1
2   DIG_PAT_1696325611       0               1
3   DIG_PAT_1696326458       0               0
4   DIG_PAT_1696326583       1               1
..                 ...     ...             ...
79  DIG_PAT_1717056563       0               1
80  DIG_PAT_1725901598       0               1
81  DIG_PAT_1725901870       0               1
82  DIG_PAT_1725901895       1               1
83  DIG_PAT_1725901955       0               0

[84 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325261       0               0
1   DIG_PAT_1696325346       0               0
2   DIG_PAT_1696325611       0               0
3   DIG_PAT_1696326458       0               0
4   DIG_PAT_1696326583       1               0
..                 ...     ...             ...
79  DIG_PAT_1717056563       0               0
80  DIG_PAT_1725901598       0               1
81  DIG_PAT_1725901870       0               1
82  DIG_PAT_1725901895       1               0
83  DIG_PAT_1725901955       0               0

[84 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325261       0               1
1   DIG_PAT_1696325346       0               0
2   DIG_PAT_1696325611       0               0
3   DIG_PAT_1696326458       0               0
4   DIG_PAT_1696326583       1               1
..                 ...     ...             ...
79  DIG_PAT_1717056563       0               1
80  DIG_PAT_1725901598       0               1
81  DIG_PAT_1725901870       0               1
82  DIG_PAT_1725901895       1               0
83  DIG_PAT_1725901955       0               1

[84 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325152       1               1
1   DIG_PAT_1696326144       0               1
2   DIG_PAT_1696326269       0               1
3   DIG_PAT_1696326480       1               1
4   DIG_PAT_1696326532       1               0
..                 ...     ...             ...
78  DIG_PAT_1713908008       0               1
79  DIG_PAT_1717055702       1               0
80  DIG_PAT_1717056235       1               1
81  DIG_PAT_1717056286       0               1
82  DIG_PAT_1725901164       1               1

[83 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325152       1               1
1   DIG_PAT_1696326144       0               0
2   DIG_PAT_1696326269       0               1
3   DIG_PAT_1696326480       1               1
4   DIG_PAT_1696326532       1               1
..                 ...     ...             ...
78  DIG_PAT_1713908008       0               0
79  DIG_PAT_1717055702       1               0
80  DIG_PAT_1717056235       1               1
81  DIG_PAT_1717056286       0               0
82  DIG_PAT_1725901164       1               1

[83 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325152       1               0
1   DIG_PAT_1696326144       0               0
2   DIG_PAT_1696326269       0               1
3   DIG_PAT_1696326480       1               1
4   DIG_PAT_1696326532       1               1
..                 ...     ...             ...
78  DIG_PAT_1713908008       0               0
79  DIG_PAT_1717055702       1               1
80  DIG_PAT_1717056235       1               1
81  DIG_PAT_1717056286       0               0
82  DIG_PAT_1725901164       1               1

[83 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325152       1               0
1   DIG_PAT_1696326144       0               0
2   DIG_PAT_1696326269       0               0
3   DIG_PAT_1696326480       1               0
4   DIG_PAT_1696326532       1               0
..                 ...     ...             ...
78  DIG_PAT_1713908008       0               0
79  DIG_PAT_1717055702       1               1
80  DIG_PAT_1717056235       1               1
81  DIG_PAT_1717056286       0               1
82  DIG_PAT_1725901164       1               1

[83 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325152       1               1
1   DIG_PAT_1696326144       0               1
2   DIG_PAT_1696326269       0               1
3   DIG_PAT_1696326480       1               1
4   DIG_PAT_1696326532       1               0
..                 ...     ...             ...
78  DIG_PAT_1713908008       0               0
79  DIG_PAT_1717055702       1               1
80  DIG_PAT_1717056235       1               1
81  DIG_PAT_1717056286       0               0
82  DIG_PAT_1725901164       1               1

[83 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325661       1               0
1   DIG_PAT_1696326112       0               0
2   DIG_PAT_1696326773       0               1
3   DIG_PAT_1696328054       0               0
4   DIG_PAT_1696328243       0               0
..                 ...     ...             ...
84  DIG_PAT_1725899878       0               0
85  DIG_PAT_1725899959       0               0
86  DIG_PAT_1725901111       0               0
87  DIG_PAT_1725901192       0               1
88  DIG_PAT_1725901666       1               0

[89 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325661       1               0
1   DIG_PAT_1696326112       0               0
2   DIG_PAT_1696326773       0               0
3   DIG_PAT_1696328054       0               1
4   DIG_PAT_1696328243       0               1
..                 ...     ...             ...
84  DIG_PAT_1725899878       0               0
85  DIG_PAT_1725899959       0               1
86  DIG_PAT_1725901111       0               0
87  DIG_PAT_1725901192       0               1
88  DIG_PAT_1725901666       1               0

[89 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325661       1               1
1   DIG_PAT_1696326112       0               0
2   DIG_PAT_1696326773       0               1
3   DIG_PAT_1696328054       0               1
4   DIG_PAT_1696328243       0               1
..                 ...     ...             ...
84  DIG_PAT_1725899878       0               1
85  DIG_PAT_1725899959       0               1
86  DIG_PAT_1725901111       0               1
87  DIG_PAT_1725901192       0               0
88  DIG_PAT_1725901666       1               0

[89 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325661       1               1
1   DIG_PAT_1696326112       0               0
2   DIG_PAT_1696326773       0               0
3   DIG_PAT_1696328054       0               0
4   DIG_PAT_1696328243       0               0
..                 ...     ...             ...
84  DIG_PAT_1725899878       0               1
85  DIG_PAT_1725899959       0               1
86  DIG_PAT_1725901111       0               0
87  DIG_PAT_1725901192       0               0
88  DIG_PAT_1725901666       1               1

[89 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325661       1               1
1   DIG_PAT_1696326112       0               0
2   DIG_PAT_1696326773       0               0
3   DIG_PAT_1696328054       0               1
4   DIG_PAT_1696328243       0               0
..                 ...     ...             ...
84  DIG_PAT_1725899878       0               1
85  DIG_PAT_1725899959       0               0
86  DIG_PAT_1725901111       0               0
87  DIG_PAT_1725901192       0               0
88  DIG_PAT_1725901666       1               1

[89 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325298       0               0
1   DIG_PAT_1696325556       1               1
2   DIG_PAT_1696325698       0               1
3   DIG_PAT_1696325721       1               1
4   DIG_PAT_1696326367       0               0
..                 ...     ...             ...
73  DIG_PAT_1708626660       0               1
74  DIG_PAT_1713908195       0               1
75  DIG_PAT_1725901153       1               1
76  DIG_PAT_1725901798       0               0
77  DIG_PAT_1725901844       1               1

[78 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325298       0               1
1   DIG_PAT_1696325556       1               1
2   DIG_PAT_1696325698       0               0
3   DIG_PAT_1696325721       1               0
4   DIG_PAT_1696326367       0               0
..                 ...     ...             ...
73  DIG_PAT_1708626660       0               1
74  DIG_PAT_1713908195       0               1
75  DIG_PAT_1725901153       1               1
76  DIG_PAT_1725901798       0               0
77  DIG_PAT_1725901844       1               1

[78 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325298       0               0
1   DIG_PAT_1696325556       1               1
2   DIG_PAT_1696325698       0               0
3   DIG_PAT_1696325721       1               1
4   DIG_PAT_1696326367       0               0
..                 ...     ...             ...
73  DIG_PAT_1708626660       0               0
74  DIG_PAT_1713908195       0               0
75  DIG_PAT_1725901153       1               1
76  DIG_PAT_1725901798       0               0
77  DIG_PAT_1725901844       1               1

[78 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325298       0               0
1   DIG_PAT_1696325556       1               0
2   DIG_PAT_1696325698       0               0
3   DIG_PAT_1696325721       1               0
4   DIG_PAT_1696326367       0               0
..                 ...     ...             ...
73  DIG_PAT_1708626660       0               1
74  DIG_PAT_1713908195       0               0
75  DIG_PAT_1725901153       1               1
76  DIG_PAT_1725901798       0               0
77  DIG_PAT_1725901844       1               1

[78 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696325298       0               0
1   DIG_PAT_1696325556       1               0
2   DIG_PAT_1696325698       0               0
3   DIG_PAT_1696325721       1               0
4   DIG_PAT_1696326367       0               1
..                 ...     ...             ...
73  DIG_PAT_1708626660       0               0
74  DIG_PAT_1713908195       0               0
75  DIG_PAT_1725901153       1               1
76  DIG_PAT_1725901798       0               0
77  DIG_PAT_1725901844       1               1

[78 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696327293       0               0
1   DIG_PAT_1696327532       1               0
2   DIG_PAT_1696328148       0               0
3   DIG_PAT_1696328187       0               0
4   DIG_PAT_1696328476       1               0
..                 ...     ...             ...
80  DIG_PAT_1713908227       0               0
81  DIG_PAT_1714416260       0               0
82  DIG_PAT_1717055966       1               1
83  DIG_PAT_1717056457       0               1
84  DIG_PAT_1725901497       1               1

[85 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696327293       0               1
1   DIG_PAT_1696327532       1               1
2   DIG_PAT_1696328148       0               0
3   DIG_PAT_1696328187       0               1
4   DIG_PAT_1696328476       1               1
..                 ...     ...             ...
80  DIG_PAT_1713908227       0               0
81  DIG_PAT_1714416260       0               1
82  DIG_PAT_1717055966       1               1
83  DIG_PAT_1717056457       0               1
84  DIG_PAT_1725901497       1               1

[85 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696327293       0               1
1   DIG_PAT_1696327532       1               0
2   DIG_PAT_1696328148       0               0
3   DIG_PAT_1696328187       0               0
4   DIG_PAT_1696328476       1               0
..                 ...     ...             ...
80  DIG_PAT_1713908227       0               1
81  DIG_PAT_1714416260       0               0
82  DIG_PAT_1717055966       1               0
83  DIG_PAT_1717056457       0               1
84  DIG_PAT_1725901497       1               1

[85 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696327293       0               0
1   DIG_PAT_1696327532       1               0
2   DIG_PAT_1696328148       0               0
3   DIG_PAT_1696328187       0               1
4   DIG_PAT_1696328476       1               1
..                 ...     ...             ...
80  DIG_PAT_1713908227       0               0
81  DIG_PAT_1714416260       0               1
82  DIG_PAT_1717055966       1               0
83  DIG_PAT_1717056457       0               1
84  DIG_PAT_1725901497       1               1

[85 rows x 3 columns]

                 slide  y_true  y_pred_max_idx
0   DIG_PAT_1696327293       0               0
1   DIG_PAT_1696327532       1               0
2   DIG_PAT_1696328148       0               0
3   DIG_PAT_1696328187       0               0
4   DIG_PAT_1696328476       1               1
..                 ...     ...             ...
80  DIG_PAT_1713908227       0               0
81  DIG_PAT_1714416260       0               1
82  DIG_PAT_1717055966       1               1
83  DIG_PAT_1717056457       0               0
84  DIG_PAT_1725901497       1               1

[85 rows x 3 columns]

                slide  y_true  y_pred_max_idx_1  y_pred_max_idx_2  \
0  DIG_PAT_1696325152       1                 1                 1
1  DIG_PAT_1696325261       0                 0                 1
2  DIG_PAT_1696325298       0                 0                 1
3  DIG_PAT_1696325346       0                 0                 0
4  DIG_PAT_1696325556       1                 1                 1

   y_pred_max_idx_3  y_pred_max_idx_4  y_pred_max_idx_5  y_pred
0                 0                 0                 1       1
1                 1                 0                 1       1
2                 0                 0                 0       0
3                 1                 0                 0       0
4                 1                 0                 0       1

,Dataset,Fold,Accuracy,Balanced Accuracy,Precision,Recall,F1_score,0-49 %_precision,0-49 %_recall,0-49 %_f1-score,...,>=50 %_f1-score,>=50 %_support,macro avg_precision,macro avg_recall,macro avg_f1-score,macro avg_support,weighted avg_precision,weighted avg_recall,weighted avg_f1-score,weighted avg_support
0,test,25,0.696897,0.718114,0.751577,0.696897,0.70676,0.861751,0.658451,0.746507,...,0.623145,135.0,0.690777,0.718114,0.684826,419.0,0.751577,0.696897,0.70676,419.0

In [24]:
base_folder = os.path.join(working_directory,"ALLeval/eval")
subfolder = [name for name in os.listdir(base_folder) if os.path.isdir(os.path.join(base_folder, name))]

results = []

eval = "ALLeval/eval"

models = ["br3", "adsq", "pdl1-3", "pdl1-2"] 
outcomes = ["BEST_RESPONSE_3", "HISTOLOGY", "PDL1_CATHEGORY","PDL1_BINARY"]

for m,o in zip(models, outcomes):
    print(m)
    print(o)

    outcome = o
    model = m
    root_dir = os.path.join(base_folder, m)

    %run -i './metriche/Dummy_Classifier_PDL1 copy.ipynb'

    #print(parent_directory)
    #compute_metrics(parent_directory, n_classes, parent_directory)
    results.append(df)

br3
BEST_RESPONSE_3
['/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_br3/00000-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_br3/00001-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_br3/00002-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_br3/00003-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_br3/00004-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_br3/00005-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_br3/00006-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_br3/00007-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_br3/00008-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_br3/00009-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_br3/00010-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_br3/00011-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_br3/00012-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_br3/00013-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_br3/00014-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_br3/00015-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_br3/00016-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_br3/00017-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_br3/00018-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_br3/00019-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_br3/00020-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_br3/00021-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_br3/00022-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_br3/00023-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_br3/00024-attention_mil/predictions.parquet']
/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_br3/00000-attention_mil/predictions.parquet

                  slide  BEST_RESPONSE_3
0    DIG_PAT_1696325152              2.0
1    DIG_PAT_1696325261              1.0
2    DIG_PAT_1696325298              2.0
3    DIG_PAT_1696325346              0.0
4    DIG_PAT_1696325458              0.0
..                  ...              ...
568  DIG_PAT_1725901798              2.0
569  DIG_PAT_1725901844              1.0
570  DIG_PAT_1725901870              0.0
571  DIG_PAT_1725901895              0.0
572  DIG_PAT_1725901955              0.0

[573 rows x 2 columns]

[2. 1. 2. 0. 0. 1. 2. 2. 2. 1. 0. 2. 2. 2. 0. 1. 2. 2. 2. 1. 0. 0. 1. 2.
 2. 1. 2. 2. 2. 1. 2. 2. 2. 0. 0. 0. 2. 0. 0. 1. 2. 0. 1. 2. 0. 0. 0. 2.
 0. 0. 0. 0. 2. 1. 0. 0. 0. 0. 2. 0. 2. 2. 2. 1. 2. 0. 0. 0. 0. 0. 1. 0.
 1. 1. 0. 1. 0. 0. 2. 1. 2. 2. 2. 2. 2. 0. 0. 0. 2. 0. 2. 1. 0. 2. 2. 2.
 1. 2. 1. 1. 0. 0. 1. 0. 0. 0. 0. 1. 2. 0. 1. 0. 0. 2. 0. 0. 1. 0. 0. 0.
 2. 2. 1. 2. 2. 2. 0. 0. 2. 0. 0. 1. 2. 0. 0. 0. 2. 0. 1. 2. 0. 1. 2. 1.
 2. 0. 1. 1. 2. 1. 2. 1. 0. 1. 0. 1. 1. 1. 2. 2. 1. 1. 0. 2. 2. 0. 2. 2.
 2. 2. 1. 2. 1. 2. 0. 0. 1. 0. 0. 1. 1. 0. 0. 2. 0. 0. 0. 1. 2. 2. 1. 2.
 1. 2. 2. 0. 0. 0. 1. 0. 1. 0. 1. 1. 0. 1. 1. 1. 2. 2. 2. 2. 2. 1. 1. 2.
 2. 1. 2. 1. 1. 2. 1. 1. 0. 2. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 2. 0.
 1. 2. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0. 0. 1. 2. 2. 2. 0. 1. 2. 1. 2. 2. 1.
 0. 1. 2. 0. 0. 2. 2. 0. 2. 0. 0. 0. 1. 2. 0. 2. 2. 1. 0. 1. 1. 1. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 2. 0. 0. 0. 0. 0. 2. 0. 0. 1. 1. 1. 1. 0. 0. 1. 1.
 1. 0. 1. 0. 2. 1. 2. 0. 0. 2. 2. 0. 0. 0. 2. 1. 0. 2. 0. 1. 1. 0. 0. 0.
 0. 2. 1. 2. 0. 0. 0. 2. 1. 1. 0. 2. 0. 1. 0. 0. 1. 1. 2. 0. 0. 0. 0. 2.
 1. 0. 0. 1. 2. 0. 1. 0. 0. 1. 1. 0. 2. 1. 0. 0. 0. 0. 2. 1. 0. 0. 0. 0.
 2. 2. 0. 2. 0. 2. 2. 0. 0. 2. 0. 2. 1. 1. 0. 1. 0. 1. 2. 2. 0. 0. 1. 1.
 0. 2. 2. 0. 1. 2. 2. 2. 1. 0. 2. 1. 2. 1. 2. 0. 2. 0. 2. 0. 1. 0. 2. 1.
 2. 1. 0. 0. 2. 0. 2. 2. 2. 1. 0. 1. 0. 2. 1. 2. 2. 1. 2. 2. 0. 0. 0. 1.
 1. 2. 2. 0. 0. 0. 1. 2. 0. 1. 0. 0. 2. 0. 2. 0. 0. 1. 1. 1. 2. 2. 0. 0.
 1. 0. 0. 0. 2. 1. 1. 0. 2. 2. 0. 0. 2. 0. 1. 0. 0. 0. 2. 1. 2. 0. 0. 0.
 0. 1. 1. 1. 0. 0. 1. 0. 0. 1. 1. 0. 1. 0. 0. 1. 2. 1. 2. 2. 0. 0. 1. 0.
 0. 0. 0. 1. 1. 0. 0. 1. 0. 2. 0. 2. 1. 1. 1. 2. 1. 2. 1. 0. 1. 0. 1. 0.
 2. 1. 0. 2. 0. 2. 2. 1. 2. 2. 1. 2. 2. 2. 1. 1. 2. 1. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
1

/tmp/ipykernel_418792/1853329447.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distribution["y_pred"] = y_pred

                  slide  y_true  y_pred
0    DIG_PAT_1696325152     2.0     0.0
1    DIG_PAT_1696325261     1.0     0.0
2    DIG_PAT_1696325298     2.0     0.0
3    DIG_PAT_1696325346     0.0     0.0
4    DIG_PAT_1696325458     0.0     0.0
..                  ...     ...     ...
568  DIG_PAT_1725901798     2.0     0.0
569  DIG_PAT_1725901844     1.0     0.0
570  DIG_PAT_1725901870     0.0     0.0
571  DIG_PAT_1725901895     0.0     0.0
572  DIG_PAT_1725901955     0.0     0.0

[573 rows x 3 columns]

,Dataset,Fold,Accuracy,Precision,Recall,F1_score,0.0_precision,0.0_recall,0.0_f1-score,0.0_support,...,2.0_f1-score,2.0_support,macro avg_precision,macro avg_recall,macro avg_f1-score,macro avg_support,weighted avg_precision,weighted avg_recall,weighted avg_f1-score,weighted avg_support
0,test,1,0.420593,0.176899,0.420593,0.249049,0.420593,1.0,0.592138,241.0,...,0.0,174.0,0.140198,0.333333,0.197379,573.0,0.176899,0.420593,0.249049,573.0

                testColumn    testMean  testCI
0                 Accuracy    0.420593     NaN
1                Precision    0.176899     NaN
2                   Recall    0.420593     NaN
3                 F1_score    0.249049     NaN
4            0.0_precision    0.420593     NaN
5               0.0_recall    1.000000     NaN
6             0.0_f1-score    0.592138     NaN
7              0.0_support  241.000000     NaN
8            1.0_precision    0.000000     NaN
9               1.0_recall    0.000000     NaN
10            1.0_f1-score    0.000000     NaN
11             1.0_support  158.000000     NaN
12           2.0_precision    0.000000     NaN
13              2.0_recall    0.000000     NaN
14            2.0_f1-score    0.000000     NaN
15             2.0_support  174.000000     NaN
16     macro avg_precision    0.140198     NaN
17        macro avg_recall    0.333333     NaN
18      macro avg_f1-score    0.197379     NaN
19       macro avg_support  573.000000     NaN
20  weighted avg_precision    0.176899     NaN
21     weighted avg_recall    0.420593     NaN
22   weighted avg_f1-score    0.249049     NaN
23    weighted avg_support  573.000000     NaN

                slide  y_true  pred_1  y_pred
0  DIG_PAT_1696325152     2.0     0.0     0.0
1  DIG_PAT_1696325261     1.0     0.0     0.0
2  DIG_PAT_1696325298     2.0     0.0     0.0
3  DIG_PAT_1696325346     0.0     0.0     0.0
4  DIG_PAT_1696325458     0.0     0.0     0.0

,Dataset,Fold,Accuracy,Balanced Accuracy,Precision,Recall,F1_score,0.0_precision,0.0_recall,0.0_f1-score,...,2.0_f1-score,2.0_support,macro avg_precision,macro avg_recall,macro avg_f1-score,macro avg_support,weighted avg_precision,weighted avg_recall,weighted avg_f1-score,weighted avg_support
0,test,1,0.420593,0.333333,0.176899,0.420593,0.249049,0.420593,1.0,0.592138,...,0.0,174.0,0.140198,0.333333,0.197379,573.0,0.176899,0.420593,0.249049,573.0

adsq
HISTOLOGY
['/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_adsq/00000-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_adsq/00001-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_adsq/00002-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_adsq/00003-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_adsq/00004-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_adsq/00005-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_adsq/00006-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_adsq/00007-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_adsq/00008-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_adsq/00009-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_adsq/00010-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_adsq/00011-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_adsq/00012-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_adsq/00013-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_adsq/00014-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_adsq/00015-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_adsq/00016-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_adsq/00017-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_adsq/00018-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_adsq/00019-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_adsq/00020-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_adsq/00021-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_adsq/00022-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_adsq/00023-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_adsq/00024-attention_mil/predictions.parquet']
/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_adsq/00000-attention_mil/predictions.parquet

                  slide       HISTOLOGY
0    DIG_PAT_1696325152  adenocarcinoma
1    DIG_PAT_1696325261  adenocarcinoma
2    DIG_PAT_1696325298  adenocarcinoma
3    DIG_PAT_1696325346  adenocarcinoma
4    DIG_PAT_1696325458  adenocarcinoma
..                  ...             ...
609  DIG_PAT_1725901895        squamous
610  DIG_PAT_1725901924        squamous
611  DIG_PAT_1725901955  adenocarcinoma
612  DIG_PAT_1725902645        squamous
613  DIG_PAT_1725902696        squamous

[614 rows x 2 columns]

['adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'squamous'
 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'squamous' 'squamous' 'squamous' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'squamous' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'squamous'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'squamous' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'squamous' 'squamous' 'adenocarcinoma'
 'squamous' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'squamous'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'squamous'
 'adenocarcinoma' 'squamous' 'squamous' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'squamous' 'squamous' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'squamous' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'squamous'
 'squamous' 'adenocarcinoma' 'adenocarcinoma' 'squamous' 'squamous'
 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'squamous' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'squamous' 'squamous'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'squamous' 'squamous'
 'squamous' 'adenocarcinoma' 'adenocarcinoma' 'squamous' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'squamous'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'squamous' 'squamous'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'squamous'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'squamous' 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'squamous'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'squamous'
 'squamous' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'squamous' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'squamous' 'adenocarcinoma'
 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'squamous' 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'squamous' 'adenocarcinoma' 'adenocarcinoma' 'squamous' 'adenocarcinoma'
 'squamous' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'squamous' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'squamous' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'squamous' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'squamous'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'squamous'
 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'squamous' 'squamous' 'adenocarcinoma' 'adenocarcinoma'
 'squamous' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'squamous'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'squamous' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'squamous' 'adenocarcinoma' 'adenocarcinoma' 'squamous' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'adenocarcinoma' 'squamous'
 'squamous' 'adenocarcinoma' 'adenocarcinoma' 'squamous' 'adenocarcinoma'
 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'squamous' 'adenocarcinoma'
 'adenocarcinoma' 'squamous' 'squamous' 'adenocarcinoma' 'squamous'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'squamous' 'squamous' 'adenocarcinoma'
 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'squamous' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'squamous'
 'adenocarcinoma' 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'squamous'
 'adenocarcinoma' 'adenocarcinoma' 'squamous' 'squamous' 'squamous'
 'squamous' 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'squamous'
 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'squamous' 'adenocarcinoma'
 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'squamous'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'squamous' 'squamous' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'squamous' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'adenocarcinoma' 'squamous'
 'adenocarcinoma' 'adenocarcinoma' 'squamous' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'squamous' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'squamous'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'squamous' 'squamous' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'squamous' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'squamous'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'squamous' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'squamous'
 'adenocarcinoma' 'squamous' 'squamous' 'squamous' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'squamous'
 'squamous' 'squamous' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'squamous' 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'squamous'
 'squamous' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'squamous' 'squamous' 'adenocarcinoma' 'squamous'
 'squamous' 'adenocarcinoma' 'squamous' 'squamous' 'adenocarcinoma'
 'adenocarcinoma' 'squamous' 'adenocarcinoma' 'adenocarcinoma' 'squamous'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'squamous'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'squamous' 'squamous' 'squamous'
 'adenocarcinoma' 'squamous' 'squamous']
['adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'
 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma' 'adenocarcinoma'

/tmp/ipykernel_418792/1853329447.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distribution["y_pred"] = y_pred

                  slide          y_true          y_pred
0    DIG_PAT_1696325152  adenocarcinoma  adenocarcinoma
1    DIG_PAT_1696325261  adenocarcinoma  adenocarcinoma
2    DIG_PAT_1696325298  adenocarcinoma  adenocarcinoma
3    DIG_PAT_1696325346  adenocarcinoma  adenocarcinoma
4    DIG_PAT_1696325458  adenocarcinoma  adenocarcinoma
..                  ...             ...             ...
609  DIG_PAT_1725901895        squamous  adenocarcinoma
610  DIG_PAT_1725901924        squamous  adenocarcinoma
611  DIG_PAT_1725901955  adenocarcinoma  adenocarcinoma
612  DIG_PAT_1725902645        squamous  adenocarcinoma
613  DIG_PAT_1725902696        squamous  adenocarcinoma

[614 rows x 3 columns]

,Dataset,Fold,Accuracy,Precision,Recall,F1_score,adenocarcinoma_precision,adenocarcinoma_recall,adenocarcinoma_f1-score,adenocarcinoma_support,...,squamous_f1-score,squamous_support,macro avg_precision,macro avg_recall,macro avg_f1-score,macro avg_support,weighted avg_precision,weighted avg_recall,weighted avg_f1-score,weighted avg_support
0,test,1,0.776873,0.603532,0.776873,0.679319,0.776873,1.0,0.874427,477.0,...,0.0,137.0,0.388436,0.5,0.437214,614.0,0.603532,0.776873,0.679319,614.0

                  testColumn    testMean  testCI
0                   Accuracy    0.776873     NaN
1                  Precision    0.603532     NaN
2                     Recall    0.776873     NaN
3                   F1_score    0.679319     NaN
4   adenocarcinoma_precision    0.776873     NaN
5      adenocarcinoma_recall    1.000000     NaN
6    adenocarcinoma_f1-score    0.874427     NaN
7     adenocarcinoma_support  477.000000     NaN
8         squamous_precision    0.000000     NaN
9            squamous_recall    0.000000     NaN
10         squamous_f1-score    0.000000     NaN
11          squamous_support  137.000000     NaN
12       macro avg_precision    0.388436     NaN
13          macro avg_recall    0.500000     NaN
14        macro avg_f1-score    0.437214     NaN
15         macro avg_support  614.000000     NaN
16    weighted avg_precision    0.603532     NaN
17       weighted avg_recall    0.776873     NaN
18     weighted avg_f1-score    0.679319     NaN
19      weighted avg_support  614.000000     NaN

                slide          y_true          pred_1          y_pred
0  DIG_PAT_1696325152  adenocarcinoma  adenocarcinoma  adenocarcinoma
1  DIG_PAT_1696325261  adenocarcinoma  adenocarcinoma  adenocarcinoma
2  DIG_PAT_1696325298  adenocarcinoma  adenocarcinoma  adenocarcinoma
3  DIG_PAT_1696325346  adenocarcinoma  adenocarcinoma  adenocarcinoma
4  DIG_PAT_1696325458  adenocarcinoma  adenocarcinoma  adenocarcinoma

,Dataset,Fold,Accuracy,Balanced Accuracy,Precision,Recall,F1_score,adenocarcinoma_precision,adenocarcinoma_recall,adenocarcinoma_f1-score,...,squamous_f1-score,squamous_support,macro avg_precision,macro avg_recall,macro avg_f1-score,macro avg_support,weighted avg_precision,weighted avg_recall,weighted avg_f1-score,weighted avg_support
0,test,1,0.776873,0.5,0.603532,0.776873,0.679319,0.776873,1.0,0.874427,...,0.0,137.0,0.388436,0.5,0.437214,614.0,0.603532,0.776873,0.679319,614.0

pdl1-3
PDL1_CATHEGORY
['/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-3/00000-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-3/00001-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-3/00002-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-3/00003-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-3/00004-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-3/00005-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-3/00006-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-3/00007-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-3/00008-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-3/00009-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-3/00010-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-3/00011-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-3/00012-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-3/00013-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-3/00014-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-3/00015-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-3/00016-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-3/00017-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-3/00018-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-3/00019-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-3/00020-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-3/00021-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-3/00022-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-3/00023-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-3/00024-attention_mil/predictions.parquet']
/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-3/00000-attention_mil/predictions.parquet

                  slide PDL1_CATHEGORY
0    DIG_PAT_1696325152         >=50 %
1    DIG_PAT_1696325261         1-49 %
2    DIG_PAT_1696325298         1-49 %
3    DIG_PAT_1696325346         1-49 %
4    DIG_PAT_1696325556         >=50 %
..                  ...            ...
414  DIG_PAT_1725901798          < 1 %
415  DIG_PAT_1725901844         >=50 %
416  DIG_PAT_1725901870         1-49 %
417  DIG_PAT_1725901895         >=50 %
418  DIG_PAT_1725901955         1-49 %

[419 rows x 2 columns]

['>=50 %' '1-49 %' '1-49 %' '1-49 %' '>=50 %' '< 1 %' '>=50 %' '1-49 %'
 '>=50 %' '< 1 %' '1-49 %' '1-49 %' '1-49 %' '< 1 %' '>=50 %' '>=50 %'
 '>=50 %' '1-49 %' '1-49 %' '< 1 %' '>=50 %' '1-49 %' '1-49 %' '1-49 %'
 '< 1 %' '>=50 %' '>=50 %' '< 1 %' '< 1 %' '< 1 %' '>=50 %' '< 1 %'
 '>=50 %' '>=50 %' '1-49 %' '>=50 %' '>=50 %' '1-49 %' '< 1 %' '< 1 %'
 '< 1 %' '1-49 %' '< 1 %' '1-49 %' '1-49 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '1-49 %' '< 1 %' '1-49 %' '1-49 %' '1-49 %' '< 1 %' '1-49 %'
 '>=50 %' '< 1 %' '< 1 %' '1-49 %' '< 1 %' '< 1 %' '1-49 %' '>=50 %'
 '< 1 %' '>=50 %' '< 1 %' '>=50 %' '1-49 %' '>=50 %' '>=50 %' '1-49 %'
 '1-49 %' '1-49 %' '>=50 %' '1-49 %' '>=50 %' '1-49 %' '1-49 %' '>=50 %'
 '1-49 %' '< 1 %' '>=50 %' '1-49 %' '>=50 %' '1-49 %' '< 1 %' '< 1 %'
 '< 1 %' '1-49 %' '< 1 %' '< 1 %' '1-49 %' '1-49 %' '1-49 %' '< 1 %'
 '1-49 %' '1-49 %' '1-49 %' '< 1 %' '1-49 %' '1-49 %' '1-49 %' '1-49 %'
 '< 1 %' '1-49 %' '< 1 %' '>=50 %' '< 1 %' '1-49 %' '>=50 %' '< 1 %'
 '1-49 %' '< 1 %' '>=50 %' '< 1 %' '>=50 %' '1-49 %' '1-49 %' '< 1 %'
 '1-49 %' '< 1 %' '< 1 %' '< 1 %' '>=50 %' '< 1 %' '1-49 %' '1-49 %'
 '>=50 %' '1-49 %' '< 1 %' '< 1 %' '>=50 %' '>=50 %' '1-49 %' '< 1 %'
 '>=50 %' '>=50 %' '< 1 %' '1-49 %' '>=50 %' '< 1 %' '< 1 %' '1-49 %'
 '>=50 %' '>=50 %' '>=50 %' '>=50 %' '< 1 %' '>=50 %' '1-49 %' '>=50 %'
 '1-49 %' '>=50 %' '< 1 %' '>=50 %' '1-49 %' '< 1 %' '< 1 %' '1-49 %'
 '1-49 %' '1-49 %' '1-49 %' '1-49 %' '1-49 %' '< 1 %' '< 1 %' '< 1 %'
 '1-49 %' '< 1 %' '>=50 %' '>=50 %' '1-49 %' '< 1 %' '1-49 %' '< 1 %'
 '>=50 %' '< 1 %' '1-49 %' '1-49 %' '< 1 %' '1-49 %' '>=50 %' '>=50 %'
 '1-49 %' '>=50 %' '1-49 %' '>=50 %' '>=50 %' '>=50 %' '< 1 %' '1-49 %'
 '1-49 %' '1-49 %' '1-49 %' '>=50 %' '< 1 %' '1-49 %' '1-49 %' '< 1 %'
 '>=50 %' '>=50 %' '>=50 %' '1-49 %' '1-49 %' '< 1 %' '>=50 %' '< 1 %'
 '1-49 %' '< 1 %' '1-49 %' '1-49 %' '>=50 %' '< 1 %' '< 1 %' '>=50 %'
 '>=50 %' '>=50 %' '< 1 %' '>=50 %' '>=50 %' '< 1 %' '>=50 %' '< 1 %'
 '< 1 %' '1-49 %' '< 1 %' '>=50 %' '>=50 %' '1-49 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '1-49 %' '1-49 %' '< 1 %' '1-49 %' '>=50 %' '1-49 %'
 '1-49 %' '1-49 %' '1-49 %' '>=50 %' '1-49 %' '>=50 %' '1-49 %' '>=50 %'
 '>=50 %' '>=50 %' '>=50 %' '>=50 %' '>=50 %' '>=50 %' '1-49 %' '>=50 %'
 '>=50 %' '>=50 %' '1-49 %' '>=50 %' '1-49 %' '< 1 %' '>=50 %' '>=50 %'
 '>=50 %' '>=50 %' '1-49 %' '1-49 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '1-49 %' '>=50 %' '>=50 %' '< 1 %' '>=50 %' '< 1 %'
 '< 1 %' '>=50 %' '< 1 %' '>=50 %' '< 1 %' '< 1 %' '< 1 %' '1-49 %'
 '< 1 %' '1-49 %' '< 1 %' '< 1 %' '>=50 %' '< 1 %' '1-49 %' '1-49 %'
 '< 1 %' '>=50 %' '1-49 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '>=50 %'
 '< 1 %' '1-49 %' '1-49 %' '1-49 %' '>=50 %' '>=50 %' '>=50 %' '1-49 %'
 '< 1 %' '< 1 %' '< 1 %' '1-49 %' '1-49 %' '1-49 %' '>=50 %' '>=50 %'
 '>=50 %' '>=50 %' '>=50 %' '< 1 %' '>=50 %' '< 1 %' '>=50 %' '>=50 %'
 '1-49 %' '1-49 %' '>=50 %' '>=50 %' '1-49 %' '< 1 %' '>=50 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '>=50 %' '1-49 %'
 '1-49 %' '< 1 %' '>=50 %' '< 1 %' '>=50 %' '< 1 %' '< 1 %' '>=50 %'
 '1-49 %' '>=50 %' '1-49 %' '1-49 %' '< 1 %' '1-49 %' '1-49 %' '>=50 %'
 '1-49 %' '>=50 %' '< 1 %' '1-49 %' '1-49 %' '< 1 %' '< 1 %' '>=50 %'
 '< 1 %' '< 1 %' '< 1 %' '>=50 %' '1-49 %' '1-49 %' '1-49 %' '< 1 %'
 '< 1 %' '>=50 %' '>=50 %' '< 1 %' '>=50 %' '1-49 %' '1-49 %' '>=50 %'
 '>=50 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '>=50 %' '1-49 %'
 '< 1 %' '< 1 %' '>=50 %' '>=50 %' '>=50 %' '< 1 %' '>=50 %' '1-49 %'
 '>=50 %' '1-49 %' '>=50 %' '1-49 %' '< 1 %' '1-49 %' '1-49 %' '< 1 %'
 '>=50 %' '>=50 %' '< 1 %' '>=50 %' '< 1 %' '>=50 %' '< 1 %' '>=50 %'
 '1-49 %' '>=50 %' '1-49 %']
['< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %'
 '< 1 %' '< 1 %' '< 1 %' '< 1 %' '< 1 %']
1

/tmp/ipykernel_418792/1853329447.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distribution["y_pred"] = y_pred

                  slide  y_true y_pred
0    DIG_PAT_1696325152  >=50 %  < 1 %
1    DIG_PAT_1696325261  1-49 %  < 1 %
2    DIG_PAT_1696325298  1-49 %  < 1 %
3    DIG_PAT_1696325346  1-49 %  < 1 %
4    DIG_PAT_1696325556  >=50 %  < 1 %
..                  ...     ...    ...
414  DIG_PAT_1725901798   < 1 %  < 1 %
415  DIG_PAT_1725901844  >=50 %  < 1 %
416  DIG_PAT_1725901870  1-49 %  < 1 %
417  DIG_PAT_1725901895  >=50 %  < 1 %
418  DIG_PAT_1725901955  1-49 %  < 1 %

[419 rows x 3 columns]

,Dataset,Fold,Accuracy,Precision,Recall,F1_score,1-49 %_precision,1-49 %_recall,1-49 %_f1-score,1-49 %_support,...,>=50 %_f1-score,>=50 %_support,macro avg_precision,macro avg_recall,macro avg_f1-score,macro avg_support,weighted avg_precision,weighted avg_recall,weighted avg_f1-score,weighted avg_support
0,test,1,0.343675,0.118113,0.343675,0.175806,0.0,0.0,0.0,140.0,...,0.0,135.0,0.114558,0.333333,0.170515,419.0,0.118113,0.343675,0.175806,419.0

                testColumn    testMean  testCI
0                 Accuracy    0.343675     NaN
1                Precision    0.118113     NaN
2                   Recall    0.343675     NaN
3                 F1_score    0.175806     NaN
4         1-49 %_precision    0.000000     NaN
5            1-49 %_recall    0.000000     NaN
6          1-49 %_f1-score    0.000000     NaN
7           1-49 %_support  140.000000     NaN
8          < 1 %_precision    0.343675     NaN
9             < 1 %_recall    1.000000     NaN
10          < 1 %_f1-score    0.511545     NaN
11           < 1 %_support  144.000000     NaN
12        >=50 %_precision    0.000000     NaN
13           >=50 %_recall    0.000000     NaN
14         >=50 %_f1-score    0.000000     NaN
15          >=50 %_support  135.000000     NaN
16     macro avg_precision    0.114558     NaN
17        macro avg_recall    0.333333     NaN
18      macro avg_f1-score    0.170515     NaN
19       macro avg_support  419.000000     NaN
20  weighted avg_precision    0.118113     NaN
21     weighted avg_recall    0.343675     NaN
22   weighted avg_f1-score    0.175806     NaN
23    weighted avg_support  419.000000     NaN

                slide  y_true pred_1 y_pred
0  DIG_PAT_1696325152  >=50 %  < 1 %  < 1 %
1  DIG_PAT_1696325261  1-49 %  < 1 %  < 1 %
2  DIG_PAT_1696325298  1-49 %  < 1 %  < 1 %
3  DIG_PAT_1696325346  1-49 %  < 1 %  < 1 %
4  DIG_PAT_1696325556  >=50 %  < 1 %  < 1 %

,Dataset,Fold,Accuracy,Balanced Accuracy,Precision,Recall,F1_score,1-49 %_precision,1-49 %_recall,1-49 %_f1-score,...,>=50 %_f1-score,>=50 %_support,macro avg_precision,macro avg_recall,macro avg_f1-score,macro avg_support,weighted avg_precision,weighted avg_recall,weighted avg_f1-score,weighted avg_support
0,test,1,0.343675,0.333333,0.118113,0.343675,0.175806,0.0,0.0,0.0,...,0.0,135.0,0.114558,0.333333,0.170515,419.0,0.118113,0.343675,0.175806,419.0

pdl1-2
PDL1_BINARY
['/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-2/00000-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-2/00001-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-2/00002-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-2/00003-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-2/00004-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-2/00005-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-2/00006-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-2/00007-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-2/00008-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-2/00009-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-2/00010-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-2/00011-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-2/00012-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-2/00013-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-2/00014-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-2/00015-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-2/00016-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-2/00017-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-2/00018-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-2/00019-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-2/00020-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-2/00021-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-2/00022-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-2/00023-attention_mil/predictions.parquet', '/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-2/00024-attention_mil/predictions.parquet']
/media/mmd/Samsung_T5/GitHub/UMD/ALLeval/eval/all/int_folds_pdl1-2/00000-attention_mil/predictions.parquet

                  slide PDL1_BINARY
0    DIG_PAT_1696325152      >=50 %
1    DIG_PAT_1696325261      0-49 %
2    DIG_PAT_1696325298      0-49 %
3    DIG_PAT_1696325346      0-49 %
4    DIG_PAT_1696325556      >=50 %
..                  ...         ...
414  DIG_PAT_1725901798      0-49 %
415  DIG_PAT_1725901844      >=50 %
416  DIG_PAT_1725901870      0-49 %
417  DIG_PAT_1725901895      >=50 %
418  DIG_PAT_1725901955      0-49 %

[419 rows x 2 columns]

['>=50 %' '0-49 %' '0-49 %' '0-49 %' '>=50 %' '0-49 %' '>=50 %' '0-49 %'
 '>=50 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '>=50 %' '>=50 %'
 '>=50 %' '0-49 %' '0-49 %' '0-49 %' '>=50 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '>=50 %' '>=50 %' '0-49 %' '0-49 %' '0-49 %' '>=50 %' '0-49 %'
 '>=50 %' '>=50 %' '0-49 %' '>=50 %' '>=50 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '>=50 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '>=50 %'
 '0-49 %' '>=50 %' '0-49 %' '>=50 %' '0-49 %' '>=50 %' '>=50 %' '0-49 %'
 '0-49 %' '0-49 %' '>=50 %' '0-49 %' '>=50 %' '0-49 %' '0-49 %' '>=50 %'
 '0-49 %' '0-49 %' '>=50 %' '0-49 %' '>=50 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '>=50 %' '0-49 %' '0-49 %' '>=50 %' '0-49 %'
 '0-49 %' '0-49 %' '>=50 %' '0-49 %' '>=50 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '>=50 %' '0-49 %' '0-49 %' '0-49 %'
 '>=50 %' '0-49 %' '0-49 %' '0-49 %' '>=50 %' '>=50 %' '0-49 %' '0-49 %'
 '>=50 %' '>=50 %' '0-49 %' '0-49 %' '>=50 %' '0-49 %' '0-49 %' '0-49 %'
 '>=50 %' '>=50 %' '>=50 %' '>=50 %' '0-49 %' '>=50 %' '0-49 %' '>=50 %'
 '0-49 %' '>=50 %' '0-49 %' '>=50 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '>=50 %' '>=50 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '>=50 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '>=50 %' '>=50 %'
 '0-49 %' '>=50 %' '0-49 %' '>=50 %' '>=50 %' '>=50 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '>=50 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '>=50 %' '>=50 %' '>=50 %' '0-49 %' '0-49 %' '0-49 %' '>=50 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '>=50 %' '0-49 %' '0-49 %' '>=50 %'
 '>=50 %' '>=50 %' '0-49 %' '>=50 %' '>=50 %' '0-49 %' '>=50 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '>=50 %' '>=50 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '>=50 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '>=50 %' '0-49 %' '>=50 %' '0-49 %' '>=50 %'
 '>=50 %' '>=50 %' '>=50 %' '>=50 %' '>=50 %' '>=50 %' '0-49 %' '>=50 %'
 '>=50 %' '>=50 %' '0-49 %' '>=50 %' '0-49 %' '0-49 %' '>=50 %' '>=50 %'
 '>=50 %' '>=50 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '>=50 %' '>=50 %' '0-49 %' '>=50 %' '0-49 %'
 '0-49 %' '>=50 %' '0-49 %' '>=50 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '>=50 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '>=50 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '>=50 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '>=50 %' '>=50 %' '>=50 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '>=50 %' '>=50 %'
 '>=50 %' '>=50 %' '>=50 %' '0-49 %' '>=50 %' '0-49 %' '>=50 %' '>=50 %'
 '0-49 %' '0-49 %' '>=50 %' '>=50 %' '0-49 %' '0-49 %' '>=50 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '>=50 %' '0-49 %'
 '0-49 %' '0-49 %' '>=50 %' '0-49 %' '>=50 %' '0-49 %' '0-49 %' '>=50 %'
 '0-49 %' '>=50 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '>=50 %'
 '0-49 %' '>=50 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '>=50 %'
 '0-49 %' '0-49 %' '0-49 %' '>=50 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '>=50 %' '>=50 %' '0-49 %' '>=50 %' '0-49 %' '0-49 %' '>=50 %'
 '>=50 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '>=50 %' '0-49 %'
 '0-49 %' '0-49 %' '>=50 %' '>=50 %' '>=50 %' '0-49 %' '>=50 %' '0-49 %'
 '>=50 %' '0-49 %' '>=50 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '>=50 %' '>=50 %' '0-49 %' '>=50 %' '0-49 %' '>=50 %' '0-49 %' '>=50 %'
 '0-49 %' '>=50 %' '0-49 %']
['0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %' '0-49 %'
 '0-49 %' '0-49 %' '0-49 %']
1

/tmp/ipykernel_418792/1853329447.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distribution["y_pred"] = y_pred

                  slide  y_true  y_pred
0    DIG_PAT_1696325152  >=50 %  0-49 %
1    DIG_PAT_1696325261  0-49 %  0-49 %
2    DIG_PAT_1696325298  0-49 %  0-49 %
3    DIG_PAT_1696325346  0-49 %  0-49 %
4    DIG_PAT_1696325556  >=50 %  0-49 %
..                  ...     ...     ...
414  DIG_PAT_1725901798  0-49 %  0-49 %
415  DIG_PAT_1725901844  >=50 %  0-49 %
416  DIG_PAT_1725901870  0-49 %  0-49 %
417  DIG_PAT_1725901895  >=50 %  0-49 %
418  DIG_PAT_1725901955  0-49 %  0-49 %

[419 rows x 3 columns]

,Dataset,Fold,Accuracy,Precision,Recall,F1_score,0-49 %_precision,0-49 %_recall,0-49 %_f1-score,0-49 %_support,...,>=50 %_f1-score,>=50 %_support,macro avg_precision,macro avg_recall,macro avg_f1-score,macro avg_support,weighted avg_precision,weighted avg_recall,weighted avg_f1-score,weighted avg_support
0,test,1,0.677804,0.459419,0.677804,0.547643,0.677804,1.0,0.807966,284.0,...,0.0,135.0,0.338902,0.5,0.403983,419.0,0.459419,0.677804,0.547643,419.0

                testColumn    testMean  testCI
0                 Accuracy    0.677804     NaN
1                Precision    0.459419     NaN
2                   Recall    0.677804     NaN
3                 F1_score    0.547643     NaN
4         0-49 %_precision    0.677804     NaN
5            0-49 %_recall    1.000000     NaN
6          0-49 %_f1-score    0.807966     NaN
7           0-49 %_support  284.000000     NaN
8         >=50 %_precision    0.000000     NaN
9            >=50 %_recall    0.000000     NaN
10         >=50 %_f1-score    0.000000     NaN
11          >=50 %_support  135.000000     NaN
12     macro avg_precision    0.338902     NaN
13        macro avg_recall    0.500000     NaN
14      macro avg_f1-score    0.403983     NaN
15       macro avg_support  419.000000     NaN
16  weighted avg_precision    0.459419     NaN
17     weighted avg_recall    0.677804     NaN
18   weighted avg_f1-score    0.547643     NaN
19    weighted avg_support  419.000000     NaN

                slide  y_true  pred_1  y_pred
0  DIG_PAT_1696325152  >=50 %  0-49 %  0-49 %
1  DIG_PAT_1696325261  0-49 %  0-49 %  0-49 %
2  DIG_PAT_1696325298  0-49 %  0-49 %  0-49 %
3  DIG_PAT_1696325346  0-49 %  0-49 %  0-49 %
4  DIG_PAT_1696325556  >=50 %  0-49 %  0-49 %

,Dataset,Fold,Accuracy,Balanced Accuracy,Precision,Recall,F1_score,0-49 %_precision,0-49 %_recall,0-49 %_f1-score,...,>=50 %_f1-score,>=50 %_support,macro avg_precision,macro avg_recall,macro avg_f1-score,macro avg_support,weighted avg_precision,weighted avg_recall,weighted avg_f1-score,weighted avg_support
0,test,1,0.677804,0.5,0.459419,0.677804,0.547643,0.677804,1.0,0.807966,...,0.0,135.0,0.338902,0.5,0.403983,419.0,0.459419,0.677804,0.547643,419.0

In [25]:
results

[  Dataset  Fold  Accuracy  Balanced Accuracy  Precision    Recall  F1_score  \
 0    test     1  0.420593           0.333333   0.176899  0.420593  0.249049

    0.0_precision  0.0_recall  0.0_f1-score  ...  2.0_f1-score  2.0_support  \
 0       0.420593         1.0      0.592138  ...           0.0        174.0

    macro avg_precision  macro avg_recall  macro avg_f1-score  \
 0             0.140198          0.333333            0.197379

    macro avg_support  weighted avg_precision  weighted avg_recall  \
 0              573.0                0.176899             0.420593

    weighted avg_f1-score  weighted avg_support
 0               0.249049                 573.0

 [1 rows x 27 columns],
   Dataset  Fold  Accuracy  Balanced Accuracy  Precision    Recall  F1_score  \
 0    test     1  0.776873                0.5   0.603532  0.776873  0.679319

    adenocarcinoma_precision  adenocarcinoma_recall  adenocarcinoma_f1-score  \
 0                  0.776873                    1.0                 0.874427

    ...  squamous_f1-score  squamous_support  macro avg_precision  \
 0  ...                0.0             137.0             0.388436

    macro avg_recall  macro avg_f1-score  macro avg_support  \
 0               0.5            0.437214              614.0

    weighted avg_precision  weighted avg_recall  weighted avg_f1-score  \
 0                0.603532             0.776873               0.679319

    weighted avg_support
 0                 614.0

 [1 rows x 23 columns],
   Dataset  Fold  Accuracy  Balanced Accuracy  Precision    Recall  F1_score  \
 0    test     1  0.343675           0.333333   0.118113  0.343675  0.175806

    1-49 %_precision  1-49 %_recall  1-49 %_f1-score  ...  >=50 %_f1-score  \
 0               0.0            0.0              0.0  ...              0.0

    >=50 %_support  macro avg_precision  macro avg_recall  macro avg_f1-score  \
 0           135.0             0.114558          0.333333            0.170515

    macro avg_support  weighted avg_precision  weighted avg_recall  \
 0              419.0                0.118113             0.343675

    weighted avg_f1-score  weighted avg_support
 0               0.175806                 419.0

 [1 rows x 27 columns],
   Dataset  Fold  Accuracy  Balanced Accuracy  Precision    Recall  F1_score  \
 0    test     1  0.677804                0.5   0.459419  0.677804  0.547643

    0-49 %_precision  0-49 %_recall  0-49 %_f1-score  ...  >=50 %_f1-score  \
 0          0.677804            1.0         0.807966  ...              0.0

    >=50 %_support  macro avg_precision  macro avg_recall  macro avg_f1-score  \
 0           135.0             0.338902               0.5            0.403983

    macro avg_support  weighted avg_precision  weighted avg_recall  \
 0              419.0                0.459419             0.677804

    weighted avg_f1-score  weighted avg_support
 0               0.547643                 419.0

 [1 rows x 23 columns]]

In [26]:
df_list_dummy = []

for i, m in zip(results, models):
    
    transpose_df = i.transpose()
    
    transpose_df = transpose_df.rename(columns={0: f"{m}"})
    
    transpose_df = transpose_df.reset_index()
    transpose_df.rename(columns={transpose_df.columns[0]: 'DummyClassifier-max 50 slides'}, inplace=True)
    df_list_dummy.append(transpose_df)

In [27]:
len(df_list_dummy)

4

In [28]:
with pd.ExcelWriter("ABMIL_results_dummy.xlsx") as writer:
    df_list_dummy[0].to_excel(writer, sheet_name="Best Response 3", index=False)
    df_list_dummy[1].to_excel(writer, sheet_name="Adeno vs Squamous", index=False)
    df_list_dummy[2].to_excel(writer, sheet_name="PDL1 3 classes", index=False)
    df_list_dummy[3].to_excel(writer, sheet_name="PDL1 2 classes", index=False)